</div><!--close .content-->
</div><!--close .layout__content-->
<div class="layout__footer">
  <div class="layout__footer footer">
    <footer class="container footer__container">
      <div class="footer__left">
        <h3 class="footer__title"></h3>
        <a class="footer__link"></a>
      </div>
      <div class="footer__right">
        <section>
          <h3 class="footer__title"></h3>
	  <a class="footer__link"></a>
        </section>
      </div>
    </footer>
    <div class="centered">
      <div class="small" style="padding: 10px;">
        <a href="https://github.com/project-wazn/wazn-onion-explorer">Source
          code</a>
        | Explorer version:
        {{git_branch_name}}-{{last_git_commit_date}}-{{last_git_commit_hash}}
        | Wazn version: {{wazn_version_full}}
      </div>
    </div>
  </div>
</div>
</div><!--close .layout-->
</body>
</html>
